# Directus Specific
directus/data/
directus/uploads/
directus/extensions/.registry
directus/extensions/dist/
.cache-directus/

# Nuxt 3 Specific
.nuxt/
.output/
dist/
nuxt.config.ts.output.json

# Dependencies
node_modules/

# General Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.*
.env.local
.env.*.local
!.env.example
!.env.test
!.env.directus.example

# Deployment Platforms
.netlify/
.vercel/
.wrangler/

# Testing Output
coverage/

# Cache / Temporary
.eslintcache
.stylelintcache
.cache/

# Certificates
certificates/

# Operating System Files
.DS_Store
.DS_Store?
Thumbs.db

# IDE / Editor Configs
.idea/
.vscode/
*.swp
*.swo
