.wrapper-catalog {
  display: grid;
}

@media (width >= 768px) {
  .wrapper-catalog {
    grid-template-columns: 254px 1fr;
  }
}

.catalog-card {
  display: grid;
  gap: var(--spacing-xl);
}

@media (width >= 520px) {
  .catalog-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >= 1100px) {
  .catalog-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* card */

.wrapper {
  position: relative;
  margin-bottom: var(--spacing-lg);
}

.image {
  height: 100%;
  height: 176px;
  display: flex;
}

.image img {
  width: 100%;
  filter: brightness(76%);
  border-radius: 2px;
  object-fit: cover;
}

.name {
  width: 100%;
  height: 100%;
  padding: var(--spacing-3xl) var(--spacing-xl) var(--spacing-xl);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  font-size: var(--text-m);
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

ul, ul li {
	list-style: none;
}

.link {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--p-neutral-50);
  text-transform: uppercase;
  transition: color 0.3s ease-out;
  cursor: pointer;
}

.link:hover {
  color: var(--color-orange);
}

.icon i {
  font-size: var(--spacing-sm);
}

/* categories */
.categories ul {
  margin-left: var(--spacing-xl);
}

.categories li {
  margin-bottom: var(--spacing-xxxs);
}

.categories-link {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: var(--p-neutral-300);
  transition: color 0.3s ease-out;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-color: #c9c9c9;
}

.categories-link:hover {
  color: var(--color-orange);
}

/* Filter */

aside {
  display: grid;
  gap: var(--spacing-s);
}

h5 {
  font-size: var(--text-m);
  font-weight: 500;
  color: var(--color-orange);
  text-transform: uppercase;
}

li {
  list-style: none;
  font-size: var(--text-m);
  color: var(--p-neutral-600);
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: normal;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .store-message {
  position: absolute;
} */

.choose {
  margin: 0 0 10px 0;
}

.choose ul {

}

.choose li {
  background-color: var(--p-neutral-50);
  padding: 0 0.375rem;
  border: 1px solid var(--p-neutral-200);
  border-radius: 5px;
  margin-right: 0.375rem;
  display: inline-flex;
  color: var(--p-neutral-500);
  font-size: var(--text-sm);
  cursor: pointer;
}

.choose span {
  color: var(--p-zinc-400);
}

.choose span:hover {
  color: var(--p-zinc-600);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

section {
  min-height: 425px;
}