.wrapper {
  height: 108px; /* 36*3=108 */
  display: grid;
  grid-auto-flow: column dense;
  align-items: center;
  gap: var(--spacing-xs);
  /* position: relative; */
}

@media (width <= 425px) {
  .wrapper {
    height: 94px;
  }
}

.logo {
  padding-bottom: 0.375rem;
}

.nav-desktop {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xl);
}

.nav-desktop__item {
  font-size: var(--text-m);
  color: var(--p-neutral-700);
  font-weight: 500;
  text-transform: uppercase;
}

.green {
  color: var(--color-green);
}
.orange {
  color: var(--color-orange);
}
.search:hover .pi-search {
  opacity: 0.8;
}
.pi-search {
  font-size: 1.8rem;
  transition: color ease 0.2s;
}

/* search */
.search-box-shadow {
  box-shadow: inset 0px 8px 11px 0px rgba(239, 239, 239, 0.5);
  background-color: white;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease-in;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* .cart {
  display: flex;
  align-items: center;
  gap: 10px;
} */

/* cart */

.cart {
  position: relative;
}

.cart__count {
  font-size: var(--text-sm);
  color: var(--color-orange);
  font-weight: 400;
  position: absolute;
  top: -13px;
  left: 13px;
}

.pi-shopping-cart {
  font-size: 1.95rem;
  transition: color ease 0.2s;
}

.cart:hover .pi-shopping-cart {
  opacity: 0.8;
}

/* contact */

.contact {
  display: flex;
  flex-direction: column;
}

.contact .mail {
  font-size: var(--text-m);
  color: var(--color-orange);
  font-weight: 500;
}

.contact .tel {
  font-size: var(--text-lg);
  font-weight: 500;
  color: var(--color-green);
}

.pi-align-justify {
  font-size: 1.85rem;
  color: var(--color-green);
}

.nav-mobile,
.cart,
.search {
  justify-self: right;
}

.nav-mobile a {
  line-height: 0;
}

.contact {
  justify-self: end;
}

/* Transition Search */

@media (width <= 1100px) {
  .nav-desktop,
  .contact {
    display: none;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    align-items: center;
  }
}
/* @media (width < 1112) {

} */

@media (width <= 623px) {
  .wrapper {
    grid-template-columns: 3fr 1fr 1fr 1fr;
  }
}

/* @media (width <= 476px) {

} */

@media (width <= 425px) {
  .wrapper {
    grid-template-columns: 4fr 1fr 1fr;
  }

  .cart {
    display: none;
  }

  .pi-search {
    font-size: 1.4rem;
  }

  .pi-shopping-cart {
    font-size: 1.6rem;
  }

  .pi-align-justify {
    font-size: 1.4rem;
  }
}

@media (width >= 1100px) {
  .nav-mobile {
    display: none;
  }
}
