.wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--spacing-2xl);
}

.product-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-2xl);
  margin-bottom: var(--spacing-xl);
}

@media (width > 640px) {
  .product-card {
    grid-template-columns: 1fr 2fr;
  }
}

.product-card__image {
  text-align: center;
}

.product-card__atribute {
  display: grid;
  gap: var(--spacing-sm);
}

.product-description {
  grid-column: span 2;
}

.attributes, .ingredient, .quantity, .price {
  display: grid;
  grid-template-columns: 160px 1fr;
  align-items: start;
}

.ingredient-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.packaging {
  display: grid;
  grid-template-columns: 160px 1fr;
  align-items: center;
  margin-bottom: var(--spacing-s);
}

.description {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.description__minmax {
  margin-top: 0.625rem;
  color: var(--p-orange-500);
}

a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: var(--p-neutral-300);
  transition: color 0.3s ease-out;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-color: var(--p-neutral-300);
}

a:hover {
  color: var(--color-orange);
}

h6 {
  font-weight: 500;
  color: var(--p-neutral-700);
}

ul, ul li {
	list-style: none;
}

.attribut {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xxs);
  font-size: var(--text-sm);
}

.price-item {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  align-items: center;
}

.price-item-count {
  color: var(--color-green);
  font-weight: 400;
}

.price-info {
  font-size: var(--spacing-sm);
  font-weight: 300;
  color: var(--p-neutral-700);

  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: var(--p-neutral-300);
  transition: color 0.3s ease-out;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-color: var(--p-neutral-300);

  /* padding: 3px 9px;
  border-radius: 10px;
  background-color: #f3f3f375;
  border: 1px solid #e6e6eb; */
}

.ingredients-item {
  display: flex;
  gap: 5px;
}

.ingredients-item-box {
  min-width: 56px;
  color: var(--text-color);
}

.ingredients-value {
  font-size: var(--font-text);
  color: var(--text-color);
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.ingredient-content {
  display: flex;
  gap: 15px;
}

.ingredient-unit {
  font-size: var(--font-text);
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.2px;
}

/* .ingredient,
.manufacturer,
.quantity,
.price,
.packaging {
  display: grid;
  grid-template-columns: 155px 1fr;
  gap: 8px;
} */

.cart-wrapper {
  display: flex;
  gap: var(--spacing-xl);
}

.cart-count {
  display: flex;
}

.cart-count input {
  width: 100%;
  max-width: var(--spacing-6xl);
  color: var(--p-neutral-700);
  font-weight: 500;
  text-align: center;
}

.button-count {
  padding: 15px;
  border-radius: 10%;
  transition: background-color 0.3s ease-out;
  background-color: var(--p-neutral-100);
}

.button-count:hover {
  background-color: var(--p-neutral-200);
}

.count {
  border: 1px solid gray;
}

.cart-button button {
  padding: 15px var(--spacing-6xl);
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  display: block;
  cursor: pointer;
}

.cart-button button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-orange);
  text-transform: uppercase;
}

.product-loading {
  width: 100%;
  height: 100vh;
}

@media (width < 1100px) {
  .wrapper {
    display: grid;
    grid-template: 1fr / 1fr;
    gap: 20px;
  }
}

@media (width < 769px) {
  .contents {
    display: grid;
    grid-template: 1fr / 1fr;
    gap: 20px;
  }
  .image {
    justify-self: center;
  }
}

@media (width < 520px) {
  .attributes, .ingredient, .quantity, .description {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .price-info {
    display: none;
  }

}

@media (width < 350px) {
  .cart-button button {
    padding: 15px 25px;
  }
}